.tax-return-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.tax-return-heading {
    text-align: center;
}

.tax-input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.tax-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bold-label {
    font-weight: bold;
    font-size: 20px;
}

/* Style for text inputs */
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Disable input highlighting */
input[type="text"]:focus {
    outline: none;
    border-color: #0071e3; /* Change to your preferred focus color */
    box-shadow: 0 0 5px rgba(0, 113, 227, 0.5); /* Change to your preferred focus shadow */
}
